<h1>Signup</h1>
<form>
	<div class="row">
        <div class="input-field col s6">
          <input placeholder="First Name" id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="Last Name" id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
    </div>
    <div class="row">
    	<div class="column s12">
     		<button class="btn waves-effect waves-light" type="submit">Submit
    		<i class="material-icons right">send</i>
    		</button>
    	</div>
	</div>
</form>