<div class="container">
	<div class="row">
		<div class="col s12">
			<h1>Let's Gopher Your Groceries!</h1>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class=" col s12">
			<h3>Here's Your List!</h3>
		</div>
	</div>
	<div class="row">
		<% list.forEach(item => { %>
		<div class="section valign-wrapper">
		<div class="col s8">
			<h3><strong><%= item.item_name %></strong></h3>	
		</div>
		<div class="col s4">
			<form action="/shopping/new" method="POST">
				<input type="hidden" name="userId" value="<%= item.userId %>">
				<input type="hidden" name="item_name" value="<%= item.item_name%>">
				<button type="submit"><i class="medium material-icons">shopping_cart</i></button>
			</form>
		</div>
		</div>	
		<% }) %>
	</div>
</div>