<h1>Let's Gopher Your Groceries</h1>
<h2>I'll help you remember your list!</h2>

<div class="row">
	<% list.forEach(item => { %>
	<div class="col s9">
		<p><strong><%= item.item_name %></strong></h2>
	</div>
	<div class="col s3">
		<form action="/shopping/new" method="POST">
			<input type="hidden" name="userId" value="<%= item.userId %>">
			<input type="hidden" name="item_name" value="<%= item.item_name%>">
			<input type="submit">
		</form>
	</div>	
	<% }) %>
</div>