<h1>Let's Gopher Your Groceries</h1>
<h2>I'll help you remember your list!</h2>

<div class="row">
	<% list.forEach(item => { %>
	<div class="col s6">
		<p><strong><%= item.item_name %></strong></h2>
	</div>	
	<% }) %>
</div>