<% if (alerts && alerts.error ) { %>
	<% alerts.error.forEach((e) => { %>
		<div class="card red lighten-2" style="margin-top: 0;">
			<div class="card-content" style="padding: 10px;">
				Error: <%= e %>
			</div>
		</div>
	<% }) %>
<% } %>