 <footer class="page-footer orange accent-3">
          <div class="container">
            <div class="row">
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <div class="col 3">
                    <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
                  </div>
                  <div class="col 3">
                    <li><a class="grey-text text-lighten-3" href="/auth/login">Login</a></li>
                  </div>
                  <div class="col 3">
                     <li><a class="grey-text text-lighten-3" href="/auth/signup">Signup</a></li>
                  </div>
                  <div class="col 3">
                        <li><a class="grey-text text-lighten-3" href="/auth/logout">Logout</a></li>
                  </div>
                </ul>
              </div>
            </div>
            </div>
          <div class="footer-copyright">
            <div class="container">
            © 2020 Copyright Text
            </div>
          </div>
        </footer>
            