<nav class="orange accent-3">
    <div class="nav-wrapper">
        <div class="row">
            <div class="col s12">
                <a href="#" class="brand-logo">Grocery Gopher</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="/profile/user">Profile Page</a>
                </li>
                <li>
                    <a href="/auth/login">Login</a>
                </li>
                <li>
                    <a href="/auth/signup">Signup</a>
                </li>
                <li>
                    <a href="/auth/logout">Logout</a>
                </li>     
            </ul>
        </div>
    </div>
</div>
</nav>

<ul class="sidenav" id="mobile-demo" style="width:400px">
    <li>
        <div class="section">
            <h6><a href="/profile/user">Profile Page</a></h6>
        </div>
    </li>
    <li>
        <div class="section">
            <h6><a href="/list/index">Current List</a></h6>
        </div>
    </li>
    <li>
        <div class="section">
            <h6><a href="/recipe/index">Recipe Page</a></h6>
        </div> 
    </li>
    <li>
        <div class="section">
          <h6><a href="/shopping/index">Go shopping!</a></h6> 
        </div>
    </li>
    <li>
        <div class="section">
            <h6><a href="/inventory/index">Inventory Check</a></h6>
        </div>
    </li>
    <li>
        <div class="section">
            <h6><a href="/auth/login">Login</a></h6>
        </div>
    </li>
    <li>
        <div class="section">
            <h6><a href="/auth/signup">Signup</a></h6>
        </div>
    </li>
    <li>
        <div class="section">
            <h6><a href="/auth/logout">Logout</a></h6>
        </div>
    </li>
</ul>

