<div class="container">
	<div class="row">
		<div class="col s12">
			<h1>Welcome from the Grocery Gopher!</h1>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<h3>I'm here to help you with:</h3>
		</div>
	</div>
	
	<div class="row">
		<div class="col s12">
				<ul class="list">
					<div class="section">
						<li class="valign-wrapper"><i class="medium material-icons">assignment</i>Creating and updating a new grocery list</li>
					</div>
					<div class="section">
						<li class="valign-wrapper"><i class="medium material-icons">search</i>Checking your house for things you may need</li>
					</div>
					<div class="section">
						<li class="valign-wrapper"><i class="medium material-icons">shopping_cart</i>Managing your shopping list while you're in the store</li>
					</div>
				</ul>
		</div>
	</div>

	<h3>I can also show you some new recipes</h3>

	<h3>Login to get started!</h3>

	<h3>Signup if you don't have an account!</h3>
</div>