<h1>Welcome from the Grocery Gopher!</h1>

<p>I'm here to help you with:</p>

<ul class="list">
	<li><i class="medium material-icons">assignment</i>Creating and updating a new grocery list</li>
	<li><i class="medium material-icons">search</i>Checking your house for things you may need</li>
	<li><i class="medium material-icons">shopping_cart</i>Managing your shopping list while you're in the store</li>
</ul>

<p>I can also show you some new recipes</p>

<p>Login to get started!</p>

<p>Signup if you don't have an account!</p>