<h1>Welcome from the Grocery Gopher!</h1>

<h3>I'm here to help you with:</h3>

<ul class="list">
	<li><i class="medium material-icons">assignment</i>Creating and updating a new grocery list</li>
	<li><i class="medium material-icons">search</i>Checking your house for things you may need</li>
	<li><i class="medium material-icons">shopping_cart</i>Managing your shopping list while you're in the store</li>
</ul>

<h3>I can also show you some new recipes</h3>

<h3>Login to get started!</h3>

<h3>Signup if you don't have an account!</h3>