<!DOCTYPE html>
<html>
<head>
	<title>Authentication Boilerplate</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<%- include('partials/nav') %>
	<div>
		<%- body %>
	</div>
	<%- include('partials/footer') %>
</body>
</html>