<!DOCTYPE html>
<html>
<head>
	<title>Grocery Gopher</title>
    <link href="https://fonts.googleapis.com/css?family=Handlee&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
	<!-- Compiled and minified CSS -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"  rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href ="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
	<%- include('partials/nav') %>
	<%- include('partials/alerts') %>
	<main>
		<%- body %>
	</main>
	<%- include('partials/footer') %>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems,{
        draggable: true
    });

    var startDate = new Date()
    startDate.setFullYear(startDate.getFullYear() - 30)

    var elems2 = document.querySelectorAll('.datepicker')
    var instances2 = M.Datepicker.init(elems2, {
    	autoClose: true,
    	defaultDate: startDate,
    	yearRange: 30,
    	maxDate: (new Date())
    })
  });</script>
   </body>
</html>