html,
body {
	margin: 0;
	padding: 0;
	background-color: bisque;
	text-align: center;
}

h1 {
	color: skyblue;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

 main {
    flex: 1 0 auto;
  }