<h1>Your Current Shopping List</h1>

<div class="row">
		<% list.forEach(item => { %>
			<div class="col s3">
				<form action="/list/new" method="">
					
				</form>
			</div>
			<div class="col s6">
				<h2><%= item.item_name %></h2>
			</div>
			<div class=" col s3">
				
			</div>
		<% }) %>
</div>

<h1>Add Items to Your List</h1>
<div class="row">
	<div class="col s12">
		<form action="/list/new" method="POST">
			<input type="text" name="item_name">
			<input type="submit">
		</form>
	</div>
</div>