<h1>Your Favorited Recipes</h1>

<% favorites.forEach(f => { %>
<div class="row">
		<div class="col s6">
			<%= f.label %>
			<%= f.ingredients %>
		</div>
		<div class="col s6">
			<img src="<%= f.image %>">
		</div>
</div>
<% }) %>