<h1>Your Recipe Page</h1>

<h2>Get Some New Recipes to Checkout</h2>

<form method="GET" action="/recipe/new">
	<input type="text" name="ingredient">
	<input type="submit">
</form>

<a href="/recipe/favorite">Your Favorited Recipes</a>