<h1>New Recipes For You</h1>

<% recipeData.forEach(r => { %>
<div class="row">
	<div class="col s6">
		<%= r.recipe.label %>
		<% r.recipe.ingredients.forEach(i => { %>
			<div>
				<%= i.text %>
			</div>
		<% }) %>	
	</div>
	<div class="col s6">
		<img src="<%= r.recipe.image %>">
	</div>
</div>
<% }) %>